# GLOBALS
* @SeedCompany/Devs

# OPS
/.github/workflows/ @SeedCompany/Devs
Dockerfile @SeedCompany/Devs

# Tooling
tsconfig* @SeedCompany/Devs
.eslint* @SeedCompany/Devs
/eslint-local-rules.js @SeedCompany/Devs
/.prettierrc.yml @SeedCompany/Devs
/tools/ @SeedCompany/Devs
/scripts/ @SeedCompany/Devs

# API Schema
*.dto.ts @SeedCompany/Devs
*.resolver.ts @SeedCompany/Devs

# Foundation
/src/common/ @SeedCompany/Devs
/src/core/ @SeedCompany/Devs
