# GLOBALS
* 

# OPS
/.github/workflows/ 
Dockerfile 

# Tooling
tsconfig*
.eslint*
/eslint-local-rules.js
/.prettierrc.yml
/tools/
/scripts/

# API Schema
*.dto.ts
*.resolver.ts

# Foundation
/src/common/
/src/core/
