# Versioned but ignore
docs
scripts
.*
buildspec.yml
eslint-local-rules.js
docker-compose.*
Dockerfile
README*
*example*

# Yarn / NPM
!.yarnrc.yml
!.yarn/plugins
node_modules

# edgedb generated
src/core/edgedb/generated-client
src/core/edgedb/schema.ts
src/**/*.edgeql.ts

# Local
dist
coverage
logging.yml
*.gql
*.graphql
