# Versioned but ignore
docs
scripts
.*
buildspec.yml
eslint-local-rules.js
docker-compose.*
Dockerfile
README*
*example*

# Yarn / NPM
!.yarnrc.yml
!.yarn/keep
!.yarn/patches
!.yarn/plugins
node_modules

# gel generated
src/core/gel/generated-client
src/core/gel/schema.ts
src/**/*.edgeql.ts

# Local
dist
coverage
logging.yml
*.gql
*.graphql
