root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

# Webstorm needs consistent indentation for syntax highlighting
# with the textmate bundle hack.
[*.esdl]
trim_trailing_whitespace = false

# These are auto created and contain a hash of the content.
# Removing whitespace counts as a hash change so avoid.
[dbschema/migrations/*.edgeql]
trim_trailing_whitespace = false
