version: '3.7'
services:
  api:
    # Use dev target locally since there's no need to save space and contains everything
    image: cord-api-v3:dev
    build:
      context: .
      target: dev
    command: yarn start:prod
    ports:
      - 3000:80
    networks:
      - cord
    depends_on:
      - db
      - pg
    environment:
      NEO4J_URL: bolt://db:7687
      NEO4J_USERNAME: neo4j
      NEO4J_PASSWORD: admin

  db:
    image: neo4j:5.10-enterprise
    ports:
      - 7474:7474
      - 7687:7687
    networks:
      - cord
    environment:
      NEO4J_ACCEPT_LICENSE_AGREEMENT: 'yes'
      NEO4J_AUTH: neo4j/admin
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_server_metrics_enabled: 'false'
      NEO4J_dbms_security_auth__enabled: 'false'
      NEO4J_dbms_security_auth__minimum__password__length: 1

  pg:
    image: postgres
    ports:
      - 5432:5432
    networks:
      - cord
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cord

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    networks:
      - cord
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: postgres
    ports:
      - '5050:80'
    depends_on:
      - pg

networks:
  cord:
