name: Test
on:
  pull_request:
  push:
    branches:
      - master
      - develop

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      neo4j:
        image: neo4j:4.3-enterprise
        ports:
          - 7474:7474
          - 7687:7687
        env:
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
          NEO4J_AUTH: neo4j/neo4j-password
          NEO4JLABS_PLUGINS: '["apoc-core"]'

    steps:
      - uses: actions/checkout@v3
      - name: Node Setup & Yarn Install
        uses: ./.github/actions/setup

      - name: Tests
        run: yarn test

      - name: E2E Tests
        run: yarn test:e2e --listTests | xargs -rn1 basename | xargs -rn5 yarn test:e2e
        env:
          NEO4J_URL: bolt://localhost:7687
          NEO4J_USERNAME: neo4j
          NEO4J_PASSWORD: neo4j-password
